* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  cursor: default;
  font-family: "Montserrat", sans-serif;
}

#container {
  width: 100%;
  height: 100%;
}

#backimg {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("resources/background.png");
  filter: grayscale(100);
  background-size: cover;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.row {
  width: 100%;
  margin: 0px;
  padding: 50px 50px 50px 50px;
  text-align: center;
  min-height: 100px;
}

.firstrow {
  padding: 50px 50px 0px 50px;
}

.logoimg {
  width: 95%;
  height: auto;
  margin: 50px 0px 0px 0px;
  padding: 5%;
}

.skillimg {
  width: 50%;
  height: auto;
  margin: 50px 0px 0px 0px;
  border: 5px dashed #555555;
  padding: 10%;
  cursor: pointer;
}

.skillimg:hover {
  border: 5px solid #555555;
}

.skillselected {
  border: 5px solid #007f0d;
}

.skillselected:hover {
  border: 5px dashed #007f0d;
}

.appbadge {
  width: 50%;
}

.btn-close {
  color: red !important;
  float: right;
}

.btn-close:hover {
  color: black !important;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
}

.green {
  background-color: rgba(8, 176, 64, 0.5);
  border-color: #007f0d !important;
}

.white {
  background-color: rgba(255, 255, 255, 1);
}

.rowshadow {
  box-shadow: inset 0px 10px 20px -10px #000000,
    inset 0px -10px 20px -10px #000000;
}

h1,
h2,
h3,
h4 {
  display: table;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2.9vw;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 10px auto;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  margin: 30px auto 30px auto;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5vw;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px auto 20px auto;
}

.dropdown-text {
  font-size: 1vw;
  color: #222222;
  text-transform: uppercase;
  font-weight: 700;
}

.modal-title {
  font-size: 2vw;
  color: #222222;
  text-transform: uppercase;
  font-weight: 900;
}

.modal-body {
  font-size: 1vw;
  color: #222222;
  font-weight: normal;
}

.modal-text {
  font-size: 0.8vw;
  color: #222222;
  font-weight: normal;
}

a,
a:focus,
a:visited,
a:active {
  color: inherit;
}

a:focus,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #cc4444;
}

.description {
  text-align: center;
  width: 100%;
  padding: 0px 10%;
  font-weight: normal;
  font-size: 1vw;
  color: #555555;
}

.description hr {
  border-color: #999999;
}

.justified {
  text-align: justify;
}

.underline-1 h1:after,
.underline-1 h2:after,
.underline-1 h3:after {
  position: relative;
  z-index: 2;
  display: block;
  content: "";
  width: 80%;
  height: 3px;
  margin: 0 auto;
  background-color: #007f0d;
  margin-top: 10px;
}
