<div class="col-lg-3 underline-1 skillentry {{HIDDENSTYLE}}" {{SORTINGDATA}}>
  <img class="skillimg" src="{{SYMBOLPATH}}" alt="skill symbol" />
  <h3>{{SKILLNAME}}</h3>
  <div class="description">
    {{AUTHOR}}
    <br />
    {{SHORTTEXT}}
  </div>
</div>
